/* General Container Styles */
.overview_container {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #333;
  padding: 20px;
  min-height: calc(100vh - 80px); /* Adjusting the container height */
  width: 60%;
  margin:auto;
  
}

/* Search and Filter Bar */
.searchAndFilter {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.searchAndFilter input[type="text"],
.searchAndFilter select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
}

/* Complaint Item Styles */
.overview_content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 60px;
}

.overview_items {
  padding: 25px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  display: grid;
  grid-template-columns: 2fr 5fr;
  column-gap: 50px;
  cursor: pointer;
}

.profilePic {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;

}

.detailContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

}

.infoContainer {
}

.imageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.title {
  font-size: 16px;
  font-weight: bold;
}

.subtitle, .customerName, .dateText {
  font-size: 16px;
  color: #666;
  padding: 0;
  margin: 0;
}

.priority {
  padding: 5px 10px;
  border-radius: 4px;
  color: white;
  font-weight: bold;
  text-align: center;
}

/* Color Coding for Priority */
.priority[style*="color: #FF0000"] {
  background-color: #FF0000;
}

.priority[style*="color: #008000"] {
  background-color: #008000;
}

.priority[style*="color: #FFA500"] {
  background-color: #FFA500;
}
