
/* Navbar.css */

nav {
  background-color: #2c3e50; /* Dark blue background */
  padding: 20px 20px; /* Padding around the navbar */
  width: 100%;
  align-items: center;
}

ul {
  list-style-type: none; /* Removes bullet points from the list */
  margin: 0;
  padding: 0;
  display: flex; /* Aligns the list items in a row */
  align-items: center; /* Centers items vertically */
  justify-content: space-around; /* Adjusts the spacing of the list items */
}

li {
  display: flex;
  align-items: center;
}

a {
  text-decoration: none; /* Removes underline from links */
  color: #ecf0f1; /* Light grey text color */
  font-size: 16px; /* Sets the font size */
  font-weight: 500; /* Medium font weight */
  transition: color 0.3s; /* Smooth transition for color change */
  padding-bottom: 10px;

}

a:hover, a:focus{
  color: #3498db; /* Changes text color on hover */

}

/* Navbar.css */

.active {
  font-weight: bold; /* Makes the active link bolder */
  border-bottom: 1px solid #eeecf4; /* Adds a bottom border to the active tab */

}