.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}

.input {
  width: 80%;
  height: 40px;
  border: 1px solid gray;
  margin-top: 20px;
  padding: 10px;
  border-radius: 4px;
}

.button {
  background-color: blue;
  padding: 10px;
  width: 80%;
  margin-top: 30px;
  margin-bottom: 10px;
  border-radius: 20px;
  color: white;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
}

.error {
  color: red;
  margin-top: 5px;
  margin-bottom: 10px;
}

.resend {
  color: blue;
  cursor: pointer;
}
