.user_container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.user_content {
  width: 80%;
  max-width: 600px;
  border-radius: 8px;
  padding: 20px;
}

.user_itemContainer {
  background-color: #fdfdff;
  border-radius: 5px;
  border-bottom: 1px solid #eee;
  padding: 15px;
  margin-bottom: 20px; /* Increased space between items */
  transition: background-color 0.3s;
  border: 1px solid #ccc;
cursor: pointer;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);

}

.user_itemContainer:last-child {
  margin-bottom: 0; /* Remove bottom margin from the last item */
}

.user_itemContainer:hover {
  background-color: #f9f9fb;
}

.name {
  font-size: 18px;
  color: #333;
  margin-bottom: 5px;
}

.detail {
  font-size: 14px;
  color: #666;
}

.buttonSmallBlue {
  padding: 10px 20px;
  background-color: #0056b3;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-right: 10px;
}

.buttonSmallBlue:hover {
  background-color: #003d82;
}

.buttonTextWhite {
  font-size: 14px;
  color: white;
  font-weight: bold;
}
