
.item {
  display: flex;
  flex-direction: column; /* Ensures the content within each item is laid out horizontally */
  align-items: center;
  width: 100%;
  background-color: aqua;
}

.itemContainer {
  display: flex;
  background-color: #007BFF;
}

.profilePic {
  border-radius: 50%;
  width: 80px;
  height: 80px;
  object-fit: cover;
  margin-right: 20px; /* Adds spacing between the image and the details */
}

.detailContainer {
  flex-grow: 1;
}

.name {
  font-size: 18px;
  font-weight: bold;
}

.role {
  font-size: 16px;
  color: #666666;
}

.detail {
  font-size: 14px;
  color: #888888;
}

.buttonContainer {
  display: flex;
  gap: 10px;
}

.buttonSmall, .buttonSmallBlue {
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

.buttonSmall {
  background-color: #ffffff;
  color: #333333;
  border: 1px solid #cccccc;
}

.buttonSmallBlue {
  background-color: #007BFF;
  color: #ffffff;
}